<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Content/Image/favicon.ico" type="image/x-icon">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrapcss") 
    @Styles.Render("~/Content/stylistcss")
    @Styles.Render("~/Content/fontawesomecss")

    @RenderSection("css", false)
    
    
 </head>
<body>

  <!-- Side Menu -->
  <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle">Menu <i class="fa fa-bars"></i></a>
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
      <li class="sidebar-brand">
        <a href="//saluminous.co.uk">SA.Luminous</a>
      </li>
      <li>
        <a href="#top">Home</a>
      </li>
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#services">Services</a>
      </li>
      <li>
        <a href="#portfolio">Portfolio</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
      <li>
        <a href="@Url.Action("Login", "Account")">Store</a>
      </li>
    </ul>
  </div>

  <video autoplay muted loop id="myVideo">
    <source src="~/Content/Image/video.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <div class="center">
    <div id="top" class="headerv1">
      <div class="vert-text">
        <img height="116" width="400" src="~/Content/Image/saltr.png" />
        <h1 style="color:#ffffff !important">SA.LUMINOUS</h1>
        <h3 style="color:#ffffff !important">Create. Content. Play.</h3>
      </div>
      </div>
    </div>


    <div id="sacontent">
      <footer style="padding: 1px !important">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li>
                <i class="fa fa-facebook fa-3x"></i>
              </li>
              <li>
                <i class="fa fa-twitter fa-3x"></i>
              </li>
              <li>
                <i class="fa fa-dribbble fa-3x"></i>
              </li>
            </ul>
            <!-- <div class="top-scroll">
              <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
          </div>-->
            <hr>
            <ul class="list-inline">
              <li>
                <i><a href="#contact">Terms & Conditions</a></i>
              </li>
              <li>
                <i>Privacy Statement</i>
              </li>
              <li>
                <i>Site Map</i>
              </li>

              <li>
                <i>Cookie Policy</i>
              </li>
            </ul>
            <p class="text-center">SA.Luminous &copy; Copyright 2019</p>
          </div>
        </div>
      </footer>
    </div>


    <!-- /Side Menu -->
    <!-- Full Page Image Header Area -->
    <!--
    <div id="top" class="header">
    <div class="vert-text">
      <h1>SA.LUMINOUS</h1>
      <h3>CREATE.PLAY.</h3>
      <h4>The Next Generation Shopping Experience</h4>
      <img src="~/Content/Image/sasmall.png"/>
      <a href="#about" class="btn btn-default btn-lg">Find Out More</a>
    </div>
  </div>


    -->
    <!-- /Full Page Image Header Area -->
    <!-- Callout -->
    <div class="callout" style="color:black !important">
      <div class="vert-text">
        <div style="width:auto">
          @RenderBody()

        </div>
      </div>
    </div>
    <!-- /Callout -->




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")







    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
      $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
      });
    </script>
    <script>
      $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
      });
    </script>
    <script>
      $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

</body>

</html>